
<center style ="
    border: solid 2px lightslategrey;
    width: 450px;
    margin-left: 470px;
    background-color: rgba(86, 106, 123, 0.7);
    border-radius: 16px;
    padding-top: 16px;
"  >
    <h3>ADD YOUR DETAILS</h3>
    <form  method="POST" > 
        <table>
            <tr>
                <td> NAME</td>
                <td><input type="text" value="{NAME}" name="name" /><span class="required">*</span>
                </td>
            </tr>

            <tr>
                <td>EMAIL ID</td>
                <td><input type="text" value="{EMAIL}" name="emailId"/><span class="required">*</span>
                </td>
            </tr>
         
            <tr>
                <td>PASSWORD</td>
                <td><input type="password" value="{PASSWORD}" name="password"/><span class="required">*</span>
                </td>
            </tr>


            <tr>
                <td>MOBILE NUMBER</td>
                <td>
                    <input type="text" value="{PHONE}" name="mobileNumber" />

                </td>
            </tr>


            <tr>
                <td>GENDER</td>
                <td>
                    <select class="input-box" value="{GENDER}" name="gender">
                <option>Select...</option>
                <!-- BEGIN show_gender -->
                <option value="{GENDER_ID}" {GENDER_SELECTED}>{GENDER_NAME}</option>
                <!-- END show_gender -->
            </select>
                </td>
            </tr>

            <tr>
                <td>AGE </td>
                <td><input type="text" value="{AGE}" name="age"/></td>
            </tr>


            <tr>
                <td>
                    <input type="submit" value="submit" name="submit" />
                    
                </td>
            </tr>
            <tr>
                <td>
                    <input type="reset" value="reset" name="reset">
                </td>
            </tr>
            <tr>
                <span style="color: red;">{ERROR_MESSAGE}</span>
            </tr>
        </table>
       </form>

</center>
