<center style ="
    border: solid 2px lightslategrey;
    height: 200px;
    width: 430px;
    margin-left: 470px;
    background-color: rgba(86, 106, 123, 0.7);
    border-radius: 16px;
"  >

<h3 style="color: lightgray;">SETTINGS</h3>
   
    
        <table style="margin-bottom: 25px;">
            <tr>
                <td>            
                   <a href="http://www.busbooking.local/admin/?module=settings&act=addroute" class="hvr"><span>Add Route</span></a>
                </td>
           
            
                <td>            
                   <a href="http://www.busbooking.local/admin/?module=settings&act=route" class="hvr"><span>Routes</span></a>
                </td>
             </tr>
        </table>
        <table>
             <tr>
                <td>            
                   <a href="http://www.busbooking.local/admin/?module=settings&act=addcity" class="hvr"><span>Add Cities</span></a>
                </td>
           
            
                <td>            
                    <span><a href="http://www.busbooking.local/admin/?module=settings&act=city" class="hvr"><span>cities</span></a>
                </td>
             </tr>
        </table> 
   

</center>